extends typescript

snippet use-effect
	  useEffect(() => {
	    $0
	  }, []);

snippet use-state  > __React.useState()__
	  const [${1:state}, ${2:setState}] = useState(${3:initialValue});

snippet component
	interface ${1:Component}Props {}

	export const ${1:Component} = (props: ${1:Component}Props) => {

	  return (
	    <>
			$0
	    </>
	  );
	}

