[user]
    email = brenoleonhardt@gmail.com
    name = Breno Pacheco
	signingkey = 590544F30649C13CD37B38311AD6E803AEBC3C5A
[credential]
	helper = /usr/share/git/credential/netrc/git-credential-netrc.perl
[mergetool]
    prompt = false
[merge]
    tool = nvimmerge
[mergetool "nvimmerge"]
    cmd = "nvim -f -c \"Gvdiffsplit!\" \"$MERGED\""
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[log]
    date = relative
[alias]
    graph = !git log \"$@\" --oneline --graph --branches --remotes --date=short
[commit]
	gpgsign = true
