[user]
	email = 1180005@isep.ipp.pt
	name = Breno Pacheco
[credential]
	helper = store
[mergetool "nvim"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
  tool = nvim
[mergetool]
  prompt = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[log]
    date = relative
[alias]
    graph = !git log \"$@\" --oneline --graph --branches --remotes --date=short
