[user]
	name = Breno Leonhardt Pacheco
	email = brenoleonhardt@gmail.com
	signingkey = B01A3A7A20E3DD34D673FB20BCECC779EE234BC0
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[core]
	hooksPath = ~/.config/git/hooks
	editor = nvim -f
[mergetool]
	prompt = false
[merge]
	ff = only
[pull]
	rebase = true
[difftool]
	prompt = false
[init]
	defaultBranch = main
[log]
	date = relative
; [alias]
[url "git@github-blp.com:brenopacheco/"]
    insteadOf = git@github.com:brenopacheco/
    insteadOf = https://github.com/brenopacheco/

[url "git@github.com:"]
    insteadOf = https://github.com/
