[user]
	name = Breno Leonhardt
	email = brenoleonhardt@gmail.com
	signingkey = B01A3A7A20E3DD34D673FB20BCECC779EE234BC0
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[core]
	hooksPath = ~/.config/git/hooks
	editor = nvim -f
[mergetool]
	prompt = false
[merge]
	ff = only
[pull]
	rebase = true
[difftool]
	prompt = false
[init]
	defaultBranch = main
[log]
	date = relative
[alias]
[url "git@github-private.com:brenoleonhardt/"]
	insteadOf = git@github.com:brenoleonhardt/
	insteadOf = https://github.com/brenoleonhardt/
[url "git@github-private.com:breno-pacheco1/"]
	insteadOf = git@github.com:breno-pacheco1/
	insteadOf = https://github.com/breno-pacheco1/
[url "git@github.com:"]
    insteadOf = https://github.com/

# override [user] for work repos
# add URL rewriting [url "git@github-work.com"]
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
