[user]
    email = brenoleonhardt@gmail.com
    name = Breno Leonhardt Pacheco
    ;signingkey = B01A3A7A20E3DD34D673FB20BCECC779EE234BC0
[credential]
    helper = /home/breno/.config/git/helper/netrc.sh
    ; helper = /usr/share/git/credential/netrc/git-credential-netrc.perl
    ; helper = /usr/share/git/credential/netrc/git-credential-netrc.perl -dv
[core]
    hooksPath = ~/.config/git/hooks
[mergetool]
    prompt = false
[difftool]
    prompt = false
[log]
    date = relative
[alias]
    graph = !git log \"$@\" --oneline --graph --branches --remotes --date=short
    ls    = !git ls-tree --name-only -r $(git branch --show-current)
[commit]
    gpgsign = true
[push]
    autoSetupRemote = true
