#!/bin/bash
exec 1>/tmp/xprofile.log 2>&1
export PATH="/bin:/usr/bin:/usr/local/bin:/home/$USER/bin:/home/$USER/.pkgs/bin"

# background image
export WALLPAPER=~/.wallpapers/abstract-d.png
test -f "$WALLPAPER" && feh --bg-fill $WALLPAPER

# TODO:
# - control session (xgm/lxsession)
# - control dbus launch (exec dbus-run-session dwm)
# - pipewire (pipewire &, pipewire-pulse &)

dunst -print >>/tmp/dunst.log & disown # notification daemon
info-daemon & disown                   # statusbar
udiskie & disown                       # automount disks

# applets
pa-applet & disown              # pulseaudio volume applet
nm-applet & disown              # networkmanager applet
blueman-applet & disown         # bluetooth applet

redshift -l 41.157944:-8.629105 -g 0.75 & disown
tasker-go >/tmp/tasker.log 2>&1 & disown

# picom -b & disown

/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 & disown
