#!/bin/bash

exec 1>/tmp/xprofile.log 2>/tmp/xprofile.err.log
export PATH="/bin:/usr/bin:/home/$USER/bin"

LAYOUT="/home/breno/.screenlayout/default.sh"
WALLPAPER="/usr/share/backgrounds/gnome/blobs-l.svg"

xrdb ~/.Xresources

# this is required for gnome-keyring to work
dbus-update-activation-environment --all

slstatus       & disown # statusbar
dunst          & disown # notification daemon
udiskie -n -s  & disown # automount disks
nm-applet      & disown # networkmanager applet
blueman-applet & disown # bluetooth applet
pasystray \
	--notify=all \
	--key-grabbing \
	--volume-inc=3 & disown # pulseaudio volume applet
redshift-gtk -l 41.1691:-8.6793 -g 0.75 & disown

# thunderbird & disown
# slack       & disown

# start gpg-agent if not already running
SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
export SSH_AUTH_SOCK

test -x "$LAYOUT" && "$LAYOUT"
feh --bg-fill "$WALLPAPER"
xmodmap ~/.Xmodmap
