snippet log-block
	            Console.WriteLine(">>> =======================================");
	            Console.WriteLine("");
	            Console.WriteLine("");
	            Console.WriteLine($0);
	            Console.WriteLine("");
	            Console.WriteLine("");
	            Console.WriteLine("<<< =======================================");
