snippet fn > __named function__
	func ${1}(${2}) ${3} {
		${4}
	}

snippet afn > __anonymous function__
	func(${1}) ${2} {
		${3}
	}

snippet defer > __defer function__
	defer func() { ${0} }()

snippet main "func main()"
	package main

	func main() {
		${0}
	}
