configuration {
	modes: "run";
    matching: "fuzzy";
	kb-element-next: "";
    kb-mode-next: "Alt+n,Tab";
    kb-mode-previous: "Alt+p,Shift+Tab";
	kb-accept-entry: "Return";
	kb-remove-to-eol: "";
}
