configuration {
	modes: "run";
    matching: "fuzzy";
	kb-element-next: "";
	kb-element-prev: "";
    kb-mode-next: "Tab";
    kb-mode-previous: "Shift_L+ISO_Left_Tab";
	kb-accept-entry: "Return";
	kb-remove-to-eol: "";
	kb-row-down: "Down,Control+n,Alt+n";
	kb-row-up: "Up,Control+p,Alt+p";
}
