[user]
    email = brenoleonhardt@gmail.com
    name = Breno Pacheco
	signingkey = B01A3A7A20E3DD34D673FB20BCECC779EE234BC0
[credential]
	helper = /usr/share/git/credential/netrc/git-credential-netrc.perl
	; helper = /usr/share/git/credential/netrc/git-credential-netrc.perl -dv
[mergetool]
    prompt = false
[merge]
    tool = nvimmerge
[mergetool "nvimmerge"]
    cmd = "nvim -f -c \"Gvdiffsplit!\" \"$MERGED\""
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[log]
    date = relative
[alias]
    graph = !git log \"$@\" --oneline --graph --branches --remotes --date=short
    ls    = !git ls-tree --name-only -r $(git branch --show-current)
[commit]
	gpgsign = true
