#!/bin/sh
exec 1>/tmp/xprofile.log 2>&1
export PATH="/bin:/usr/bin:/usr/local/bin:/home/$USER/bin"

# background image
export WALLPAPER=~/.wallpapers/abstract-d.png
test -f  "$WALLPAPER" && feh --bg-fill $WALLPAPER

# monitor
~/bin/hdmi-config &

# applications
dunst &                                  # notification daemon
info-daemon &                            # statusbar
udiskie &                                # automount disks
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 & disown

# TODO
# xfce4-power-manager &                    # power manager
# pa-applet &                              # pulseaudio volume applet
# nm-applet &                              # networkmanager applet
# blueman-applet &                         # bluetooth applet
