#!/bin/sh
exec 1>/tmp/xprofile.log 2>&1
export PATH="/bin:/usr/bin:/usr/local/bin:/home/$USER/bin"

# background image
export WALLPAPER=~/Desktop/Pictures/wallpaper.jpg
test -f  "$WALLPAPER" && feh --bg-fill $WALLPAPER

# monitor
~/bin/hdmi-config &

# applications
dunst &                                  # notification daemon
xfce4-power-manager &                    # power manager
pa-applet &                              # pulseaudio volume applet
udiskie &                                # automount disks
nm-applet &                              # networkmanager applet
blueman-applet &                         # bluetooth applet
info-daemon &                            # statusbar
xmodmap -pke > /tmp/xmodmap.orig
# emacs --daemon &
