! dwm and dmenu colors {{{
dwm.selbordercolor:  #ff0017
dwm.normbordercolor: #000C16
dwm.selbgcolor:      #0E111D
dwm.normbgcolor:     #000C16
dwm.selfgcolor:      #ff0017
dwm.normfgcolor:     #ffffff
dmenu.selbackground: #0E111D
dmenu.selforeground: #ff0017
dmenu.background:    #000C16
dmenu.foreground:    #fffaf3
dmenu.font: FiraCode Nerd Font:size=11
/* ! }}} */
