Name=Cheese
Comment=Take photos and videos with your webcam, with fun graphical effects
Exec=cheese
Terminal=false
Type=Application
StartupNotify=true
Icon=org.gnome.Cheese
Categories=GNOME;AudioVideo;Video;Recorder;
