Terminal=false
Icon=libreoffice-base
Type=Application
Categories=Office;Database;X-Red-Hat-Base;
Exec=libreoffice --base %U
MimeType=application/vnd.oasis.opendocument.base;application/vnd.sun.xml.base;
Name=LibreOffice Base
Comment=Manage databases, create queries and reports to track and manage your information.
StartupNotify=true
StartupWMClass=libreoffice-base
Name=New Database
Icon=document-new
Exec=libreoffice --base
