[Desktop Entry]
Exec=screengrab
Icon=screengrab
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;Qt;
X-KDE-StartupNotify=false

Name=ScreenGrab
Comment=Screen capture
GenericName=Screen Capture Program
Name[ar]=مصور الشاشة
Comment[ar]=تصوير الشاشة
GenericName[ar]=برنامج تصوير الشاشة
Name[bg]=Снимане на Екрана
Comment[bg]=Снимане на екран
GenericName[bg]=Снимане на програма
Name[ca]=ScreenGrab
GenericName[ca]=Programa de captura de la pantalla
Comment[ca]=Captura de la pantalla
Name[cs]=Zachycení obrazovky
Comment[cs]=Pořizování snímků obrazovky
GenericName[cs]=Nástroj pro pořizování snímků obrazovky
Name[da]=ScreenGrab
Comment[da]=Tag skærmaftryk
GenericName[da]=Skærmaftryksprogram
Name[de]=ScreenGrab
Comment[de]=Bildschirmfotos aufnehmen
GenericName[de]=Anwendung für Bildschirmfotos
Name[el]=ScreenGrab
Comment[el]=Καταγραφή οθόνης
GenericName[el]=Πρόγραμμα καταγραφής οθόνης
Name[es]=ScreenGrab
GenericName[es]=Programa para capturas de pantalla
Comment[es]=Captura la pantalla
Name[et]=ScreenGrab
Comment[et]=Ekraanitõmmise tegija
GenericName[et]=Ekraanipildistaja ja ekraanitõmmise rakendus
Name[fi]=Kuvankaappaus (ScreenGrab)
Comment[fi]=Kuvankaappaus
GenericName[fi]=Ohjelma kuvankaappauksien ottamiseen
Name[fr]=ScreenGrab
Comment[fr]=Capture d'écran
GenericName[fr]=Programme de capture d'écran
Name[gl]=ScreenGrab
GenericName[gl]=Programa para tomar capturas da pantalla
Comment[gl]=Captura da pantalla
Name[he]=לכידת מסך
Comment[he]=לכידת המסך
GenericName[he]=תוכנית לצילום המסך
Name[hi]=स्क्रीनग्रैब
Comment[hi]=स्क्रीन कैप्चर
GenericName[hi]=स्क्रीन कैप्चर प्रोग्राम
Name[hr]=Snimanje ekrana
Comment[hr]=Snimanje ekrana
GenericName[hr]=Program za snimanje ekrana
Name[hu]=ScreenGrab
Comment[hu]=Képernyőkép készítése az asztalról
GenericName[hu]=Képernyőkép
Name[it]=ScreenGrab
Comment[it]=Applicazione per catturare schermate
GenericName[it]=Cattura schermata
Name[ja]=ScreenGrab
GenericName[ja]=スクリーンショット Qt
Comment[ja]=画面全体・ウィンドウ・指定範囲を画像として保存します
Name[ko]=ScreenGrab
Comment[ko]=화면 캡처
GenericName[ko]=화면 캡처 프로그램
Name[lg]=ScreenGrab
Comment[lg]=Ekikwata ebiri ku lutimbe
GenericName[lg]=Puloguramu ekwata ebiri ku kutimbe
Name[lt]=ScreenGrab
Comment[lt]=Ekrano fotografavimas
GenericName[lt]=Ekrano fotografavimo programa
Name[nb_NO]=ScreenGrab
Comment[nb_NO]=Skjermavbildning
GenericName[nb_NO]=Skjermavbildningsprogram
Name[nl]=ScreenGrab
Comment[nl]=Maak schermfoto's
GenericName[nl]=Schermfotoprogramma
Name[oc]=ScreenGrab
Comment[oc]=Captura d’ecran
GenericName[oc]=Programa de captura d’ecran
Name[pa]=ਸਕਰੀਨ-ਗਰੈਬ
Comment[pa]=ਸਕਰੀਨ ਦੀ ਤਸਵੀਰ
GenericName[pa]=ਸਕਰੀਨ ਦੀ ਤਸਵੀਰ ਲੈਣ ਵਾਲਾ ਪਰੋਗਰਾਮ
Name[pl]=Przechwytywanie ekranu
Comment[pl]=Zrzuty ekranu
GenericName[pl]=Program do przechwytywania ekranu
Name[pt]=ScreenGrab
Comment[pt]=Captura de ecrã
GenericName[pt]=Programa de captura de ecrã
Name[pt_BR]=ScreenGrab
Comment[pt_BR]=Captura de tela
GenericName[pt_BR]=Programa de captura de tela
Name[ro]=ScreenGrab
Comment[ro]=Captura de ecran
GenericName[ro]=Program pentru Capturi de Ecran
Name[ru]=ScreenGrab
Comment[ru]=Программа для создания снимков экрана
GenericName[ru]=Создание снимков экрана
Name[sk]=ScreenGrab
Comment[sk]=Aplikácia na fotografovanie obrazovky
GenericName[sk]=Aplikácia na fotografovanie obrazovky
Comment[sl]=Posnetek zaslona
GenericName[sl]=Program za zajem slike zaslona
Name[tr]=ScreenGrab
Comment[tr]=Ekran yakalama
GenericName[tr]=Ekran Yakalama Programı
Name[uk]=ScreenGrab
Comment[uk]=Програма для створення знімків екрана
GenericName[uk]=Створення знімків екрана
Name[zh_CN]=ScreenGrab
Comment[zh_CN]=屏幕截图
GenericName[zh_CN]=屏幕截图工具
