Name=Slack
StartupWMClass=Slack
Comment=Slack Desktop
Exec=/usr/bin/slack -s %U
Terminal=false
Icon=slack
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
