Name=Thunderbird
Comment=Send and receive mail with Thunderbird
Exec=thunderbird %u
Terminal=false
Type=Application
Icon=org.mozilla.Thunderbird
Categories=Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;text/calendar;text/vcard;text/x-vcard;x-scheme-handler/webcal;x-scheme-handler/webcals;x-scheme-handler/mid;
StartupNotify=true
StartupWMClass=thunderbird
Name=Write new message
Exec=thunderbird -compose
Name=Open address book
Exec=thunderbird -addressbook
